<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
  {{>navbar}}

   <div class="container-fluid main_header">
     <div class="row">
       <div class="col-md-10 col-12 mx-auto">
         <div class="row">
           
            <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    <image src="images/1650082327857.jpeg " alt="weather" class="img-fluid" title wether website></image>
                </figure>
    
              </div>
           <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to our weather application</p>
              <h1>Welcome to our super  <span class="text_clr"> weather </span> website to knowing your city's current weather</h1>
              <a href="/IntroductionofPro.docx"><button>About</button></a>            

           </div>
           
           
         </div>
       </div>
     </div>
   </div>

  {{>footer}}
</body>
</html>